<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeCcontactAllMapper">			
	
	<update id="writeCcontactAll">
		update ccontact_all set customer_id = #{customerId},
		ccseq = #{ccseq},
		cctitle = #{cctitle},
		ccname = #{ccname},
		ccfname = #{ccfname},
		cclname = #{cclname},
		ccstreet = #{ccstreet},
		ccstreetno = #{ccstreetno},
		cclnamemc = #{cclnamemc},
		ccaddr1 = #{ccaddr1},
		ccaddr2 = #{ccaddr2},
		ccaddr3 = #{ccaddr3},
		cccity = #{cccity},
		cczip = #{cczip},
		cctn = #{cctn},
		cctn2 = #{cctn2},
		ccfax = #{ccfax},
		ccline1 = #{ccline1},
		ccline2 = #{ccline2},
		ccline3 = #{ccline3},
		ccline4 = #{ccline4},
		ccline5 = #{ccline5},
		ccline6 = #{ccline6},
		cctn_area = #{cctnArea},
		cctn2_area = #{cctn2Area},
		ccfax_area = #{ccfaxArea},
		ccjobdesc = #{ccjobdesc},
		ccdeftrk = #{ccdeftrk},
		ccuser = #{ccuser},
		ccbill = #{ccbill},
		ccbilldetails = #{ccbilldetails},
		cccontract = #{cccontract},
		ccship = #{ccship},
		ccmagazine = #{ccmagazine},
		ccdirectory = #{ccdirectory},
		ccforward = #{ccforward},
		ccurgent = #{ccurgent},
		country = #{country},
		cclanguage = #{cclanguage},
		ccadditional = #{ccadditional},
		sort_criteria = #{sortCriteria},
		ccentdate = #{ccentdate},
		ccmoddate = #{ccmoddate},
		ccmod = #{ccmod},
		cccounty = #{cccounty},
		ccstate = #{ccstate},
		ccvaliddate = #{ccvaliddate},
		ccbill_previous = #{ccbillPrevious},
		welcome_crit = #{welcomeCrit},
		ccmname = #{ccmname},
		ccemail = #{ccemail},
		ccaddryears = #{ccaddryears},
		ccsmsno = #{ccsmsno},
		ccbilltemp = #{ccbilltemp},
		userlastmod = #{userlastmod},
		ccvalidation = #{ccvalidation},
		ccuser_inst = #{ccuserInst},
		cclocation_1 = #{cclocation1},
		cclocation_2 = #{cclocation2},
		ccremark = #{ccremark},
		rec_version = #{recVersion},
		marital_status = #{maritalStatus},
		csnationality = #{csnationality},
		cssocialsecno = #{cssocialsecno},
		csdrivelicence = #{csdrivelicence},
		csemployer = #{csemployer},
		employee = #{employee},
		company_type = #{companyType},
		id_type = #{idType},
		passportno = #{passportno},
		birthdate = #{birthdate},
		cscompregno = #{cscompregno},
		cscomptaxno = #{cscomptaxno},
		cscusttype = #{cscusttype},
		ccsex = #{ccsex} where customer_id = #{customerId};
	</update>

</mapper>
