<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeContractAllMapper">			
	
	<update id="writeContractAll">
		update contract_all set co_id = #{coId},
		customer_id = #{customerId},
		type = #{type},
		plcode = #{plcode},
		sccode = #{sccode},
		subm_id = #{submId},
		co_signed = #{coSigned},
		co_equ_type = #{coEquType},
		co_rep_bill = #{coRepBill},
		co_rep = #{coRep},
		co_rep_bill_idno = #{coRepBillIdno},
		co_rep_idno = #{coRepIdno},
		co_installed = #{coInstalled},
		co_archive = #{coArchive},
		co_dir_entry = #{coDirEntry},
		co_operator_dir = #{coOperatorDir},
		co_pstn_dir = #{coPstnDir},
		co_ass_serv = #{coAssServ},
		co_ass_equ = #{coAssEqu},
		co_crd_check = #{coCrdCheck},
		co_crd_chk_end = #{coCrdChkEnd},
		co_crd_chk_start = #{coCrdChkStart},
		co_crd_clicks = #{coCrdClicks},
		co_crd_clicks_day = #{coCrdClicksDay},
		co_crd_days = #{coCrdDays},
		co_comment = #{coComment},
		co_reserved = #{coReserved},
		co_expir_date = #{coExpirDate},
		co_activated = #{coActivated},
		co_entdate = #{coEntdate},
		co_moddate = #{coModdate},
		co_userlastmod = #{coUserlastmod},
		tmcode = #{tmcode},
		tmcode_date = #{tmcodeDate},
		co_crd_d_tr1 = #{coCrdDTr1},
		co_crd_d_tr2 = #{coCrdDTr2},
		co_crd_d_tr3 = #{coCrdDTr3},
		co_crd_p_tr1 = #{coCrdPTr1},
		co_crd_p_tr2 = #{coCrdPTr2},
		co_crd_p_tr3 = #{coCrdPTr3},
		eccode_ldc = #{eccodeLdc},
		pending_eccode_ldc = #{pendingEccodeLdc},
		eccode_lec = #{eccodeLec},
		pending_eccode_lec = #{pendingEccodeLec},
		co_request = #{coRequest},
		dealer_id = #{dealerId},
		not_valid = #{notValid},
		arpcode = #{arpcode},
		co_addr_on_ibill = #{coAddrOnIbill},
		co_crd_amount = #{coCrdAmount},
		co_crd_amount_day = #{coCrdAmountDay},
		product_history_date = #{productHistoryDate},
		co_confirm = #{coConfirm},
		co_ext_csuin = #{coExtCsuin},
		trial_end_date = #{trialEndDate},
		co_ib_cdr_flag = #{coIbCdrFlag},
		currency = #{currency},
		rec_version = #{recVersion},
		an_package_id = #{anPackageId},
		co_rel_type = #{coRelType},
		pending_tmcode = #{pendingTmcode},
		contract_template = #{contractTemplate},
		co_code = #{coCode},
		business_unit_id = #{businessUnitId},
		description = #{description},
		agreement_type = #{agreementType},
		ext_product_id = #{extProductId},
		remote_plcode = #{remotePlcode},
		eccode = #{eccode},
		hplmn_bid_group_id = #{hplmnBidGroupId},
		vplmn_bid_group_id = #{vplmnBidGroupId},
		home_party_id = #{homePartyId},
		contract_type_id = #{contractTypeId},
		trial_start_date = #{trialStartDate},
		foh_aggregation_flag = #{fohAggregationFlag},
		gl_acc_pack_id = #{glAccPackId},
		cds_bill_medium = #{cdsBillMedium},
		cds_generation = #{cdsGeneration},
		charge_part_num = #{chargePartNum},
		ch_status = #{chStatus},
		svp_file = #{svpFile},
		make_calls_date = #{makeCallsDate},
		co_inprepay_pending = #{coInprepayPending},
		co_inprepay = #{coInprepay},
		charge_per_adj_ref = #{chargePerAdjRef},
		next_cutoff_date = #{nextCutoffDate},
		last_cutoff_date = #{lastCutoffDate},
		last_charge_date = #{lastChargeDate},
		last_notice_date = #{lastNoticeDate},
		not_bill_medium = #{notBillMedium},
		charge_start_date = #{chargeStartDate},
		earliest_end_date = #{earliestEndDate},
		common_ref_data_ind = #{commonRefDataInd},
		contract_language = #{contractLanguage},
		pending_language = #{pendingLanguage},
		rr_candidate = #{rrCandidate},
		ch_status_validfrom = #{chStatusValidfrom} where co_id = #{coId};
	</update>

</mapper>
