<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeCustomerAllMapper">			
	
	<update id="writeCustomerAll">
		update customer_all set customer_id = #{customerId},
		customer_id_high = #{customerIdHigh},
		custcode = #{custcode},
		csst = #{csst},
		cstype = #{cstype},
		csactivated = #{csactivated},
		csdeactivated = #{csdeactivated},
		cstype_date = #{cstypeDate},
		cslevel = #{cslevel},
		cslvlname = #{cslvlname},
		tmcode = #{tmcode},
		prgcode = #{prgcode},
		csclimit = #{csclimit},
		cscurbalance = #{cscurbalance},
		csdepdate = #{csdepdate},
		cstestbillrun = #{cstestbillrun},
		bill_layout = #{billLayout},
		paymntresp = #{paymntresp},
		target_reached = #{targetReached},
		pcsmethpaymnt = #{pcsmethpaymnt},
		dunning_flag = #{dunningFlag},
		comm_no = #{commNo},
		pos_comm_type = #{posCommType},
		btx_password = #{btxPassword},
		btx_user = #{btxUser},
		settles_p_month = #{settlesPMonth},
		cashretour = #{cashretour},
		cstradecode = #{cstradecode},
		cspassword = #{cspassword},
		cspromotion = #{cspromotion},
		csreason = #{csreason},
		cscollector = #{cscollector},
		cscontresp = #{cscontresp},
		csdeposit = #{csdeposit},
		cscredit_date = #{cscreditDate},
		cscredit_remark = #{cscreditRemark},
		suspended = #{suspended},
		reactivated = #{reactivated},
		prev_balance = #{prevBalance},
		lbc_date = #{lbcDate},
		crlimit_exc = #{crlimitExc},
		area_id = #{areaId},
		costcenter_id = #{costcenterId},
		csfedtaxid = #{csfedtaxid},
		credit_rating = #{creditRating},
		cscredit_status = #{cscreditStatus},
		deact_create_date = #{deactCreateDate},
		deact_receip_date = #{deactReceipDate},
		edifact_addr = #{edifactAddr},
		edifact_user_flag = #{edifactUserFlag},
		edifact_flag = #{edifactFlag},
		csdeposit_due_date = #{csdepositDueDate},
		calculate_deposit = #{calculateDeposit},
		tmcode_date = #{tmcodeDate},
		csrentalbc = #{csrentalbc},
		user_lastmod = #{userLastmod},
		csentdate = #{csentdate},
		csmoddate = #{csmoddate},
		csmod = #{csmod},
		customer_id_ext = #{customerIdExt},
		csclimit_o_tr1 = #{csclimitOTr1},
		csclimit_o_tr2 = #{csclimitOTr2},
		csclimit_o_tr3 = #{csclimitOTr3},
		cscredit_score = #{cscreditScore},
		cstraderef = #{cstraderef},
		wpid = #{wpid},
		csprepayment = #{csprepayment},
		csremark_1 = #{csremark1},
		csremark_2 = #{csremark2},
		bill_information = #{billInformation},
		dealer_id = #{dealerId},
		dunning_mode = #{dunningMode},
		not_valid = #{notValid},
		cscrdcheck_agreed = #{cscrdcheckAgreed},
		expect_pay_curr_id = #{expectPayCurrId},
		convratetype_payment = #{convratetypePayment},
		refund_curr_id = #{refundCurrId},
		convratetype_refund = #{convratetypeRefund},
		srcode = #{srcode},
		currency = #{currency},
		rec_version = #{recVersion},
		anonymous_customer = #{anonymousCustomer},
		external_customer_id = #{externalCustomerId},
		external_customer_set_id = #{externalCustomerSetId},
		custnum = #{custnum},
		business_unit_id = #{businessUnitId},
		party_type_id = #{partyTypeId},
		individual_overdisc_flag = #{individualOverdiscFlag},
		billing_threshold = #{billingThreshold},
		billing_threshold_currency = #{billingThresholdCurrency},
		threshold_billing_mode = #{thresholdBillingMode},
		threshold_billing_purpose = #{thresholdBillingPurpose},
		collection_ind = #{collectionInd},
		rr_candidate = #{rrCandidate},
		bch_last_run_date = #{bchLastRunDate},
		created_by_user = #{createdByUser} where customer_id = #{customerId};
	</update>

</mapper>
