<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeOrdertrailerMapper">			
	
	<update id="writeOrdertrailer">
		update ordertrailer set otxact = #{otxact},
		otseq = #{otseq},
		otmeas = #{otmeas},
		otum = #{otum},
		otup = #{otup},
		otqord = #{otqord},
		otqbkord = #{otqbkord},
		otqtoshp = #{otqtoshp},
		otdftprc = #{otdftprc},
		otprgroup = #{otprgroup},
		otfrtwgt = #{otfrtwgt},
		otjobcost = #{otjobcost},
		otname = #{otname},
		otglsale = #{otglsale},
		otglcogs = #{otglcogs},
		otglinv = #{otglinv},
		otqship = #{otqship},
		otprmeas = #{otprmeas},
		otprum = #{otprum},
		otbillunits = #{otbillunits},
		otinvunits = #{otinvunits},
		otcostflg = #{otcostflg},
		otinvalloc = #{otinvalloc},
		otshipdate = #{otshipdate},
		sncode = #{sncode},
		oteq_id = #{oteqId},
		oteqrate = #{oteqrate},
		otleasing = #{otleasing},
		otleas_finish = #{otleasFinish},
		otflsqn = #{otflsqn},
		otvplmn = #{otvplmn},
		otflname = #{otflname},
		otfct = #{otfct},
		otlct = #{otlct},
		otsim_from = #{otsimFrom},
		otsim_to = #{otsimTo},
		ottransaction_date = #{ottransactionDate},
		servcat_code = #{servcatCode},
		serv_code = #{servCode},
		serv_type = #{servType},
		tax_inclusive_ind = #{taxInclusiveInd},
		otgl_disc = #{otglDisc},
		otjcid_disc = #{otjcidDisc},
		otgl_mincom = #{otglMincom},
		otjcid_mincom = #{otjcidMincom},
		gl_currency = #{glCurrency},
		document_currency = #{documentCurrency},
		otamt_disc_gl = #{otamtDiscGl},
		otamt_disc_gross_gl = #{otamtDiscGrossGl},
		otamt_mincom_gl = #{otamtMincomGl},
		otamt_mincom_gross_gl = #{otamtMincomGrossGl},
		otamt_revenue_gl = #{otamtRevenueGl},
		otamt_revenue_gross_gl = #{otamtRevenueGrossGl},
		otcuramt_disc_gl = #{otcuramtDiscGl},
		otcuramt_disc_gross_gl = #{otcuramtDiscGrossGl},
		otcuramt_gl = #{otcuramtGl},
		otcuramt_gross_gl = #{otcuramtGrossGl},
		otcuramt_mincom_gl = #{otcuramtMincomGl},
		otcuramt_mincom_gross_gl = #{otcuramtMincomGrossGl},
		otcuramt_revenue_gl = #{otcuramtRevenueGl},
		otcuramt_revenue_gross_gl = #{otcuramtRevenueGrossGl},
		otmerch_gl = #{otmerchGl},
		otmerch_gross_gl = #{otmerchGrossGl},
		otamt_disc_doc = #{otamtDiscDoc},
		otamt_disc_gross_doc = #{otamtDiscGrossDoc},
		otamt_mincom_doc = #{otamtMincomDoc},
		otamt_mincom_gross_doc = #{otamtMincomGrossDoc},
		otamt_revenue_doc = #{otamtRevenueDoc},
		otamt_revenue_gross_doc = #{otamtRevenueGrossDoc},
		otcuramt_disc_doc = #{otcuramtDiscDoc},
		otcuramt_disc_gross_doc = #{otcuramtDiscGrossDoc},
		otcuramt_doc = #{otcuramtDoc},
		otcuramt_gross_doc = #{otcuramtGrossDoc},
		otcuramt_mincom_doc = #{otcuramtMincomDoc},
		otcuramt_mincom_gross_doc = #{otcuramtMincomGrossDoc},
		otcuramt_revenue_doc = #{otcuramtRevenueDoc},
		otcuramt_revenue_gross_doc = #{otcuramtRevenueGrossDoc},
		otgprice_dis_doc = #{otgpriceDisDoc},
		otgprice_doc = #{otgpriceDoc},
		otmerch_doc = #{otmerchDoc},
		otmerch_gross_doc = #{otmerchGrossDoc},
		ottax_exempted_doc = #{ottaxExemptedDoc},
		rec_version = #{recVersion},
		otamt_disc_secdoc = #{otamtDiscSecdoc},
		otamt_disc_gross_secdoc = #{otamtDiscGrossSecdoc},
		otamt_mincom_secdoc = #{otamtMincomSecdoc},
		otamt_mincom_gross_secdoc = #{otamtMincomGrossSecdoc},
		otamt_revenue_secdoc = #{otamtRevenueSecdoc},
		otamt_revenue_gross_secdoc = #{otamtRevenueGrossSecdoc},
		otgprice_secdoc = #{otgpriceSecdoc},
		otgprice_dis_secdoc = #{otgpriceDisSecdoc},
		otmerch_secdoc = #{otmerchSecdoc},
		otmerch__gross_secdoc = #{otmerchGrossSecdoc},
		otflrapflg = #{otflrapflg},
		tap_ref_no = #{tapRefNo},
		tax_calculation_type = #{taxCalculationType},
		profile_id = #{profileId},
		payment_option = #{paymentOption},
		bp_co_id = #{bpCoId},
		otcostcent = #{otcostcent},
		otordnum = #{otordnum},
		incoming_doc_tax_item_seqno = #{incomingDocTaxItemSeqno},
		tmcode = #{tmcode},
		rateplan_vscode = #{rateplanVscode},
		spcode = #{spcode},
		invoice_item_class_id = #{invoiceItemClassId} where otxact = #{otxact};
	</update>

</mapper>
