<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeOrderhdrAllMapper">			
	
	<update id="writeOrderhdrAll">
		update orderhdr_all set ohxact = #{ohxact},
		ohstatus = #{ohstatus},
		ohstatusflg = #{ohstatusflg},
		ohentdate = #{ohentdate},
		ohrefnum = #{ohrefnum},
		ohtshdate = #{ohtshdate},
		ohsls = #{ohsls},
		customer_id = #{customerId},
		ohcseq = #{ohcseq},
		ohsname = #{ohsname},
		ohsaddr1 = #{ohsaddr1},
		ohsaddr2 = #{ohsaddr2},
		ohsaddr3 = #{ohsaddr3},
		ohscity = #{ohscity},
		ohsst = #{ohsst},
		ohszip = #{ohszip},
		ohscountry = #{ohscountry},
		ohscrc = #{ohscrc},
		ohattn = #{ohattn},
		ohtrucker = #{ohtrucker},
		ohponum = #{ohponum},
		ohrelease = #{ohrelease},
		ohpsno = #{ohpsno},
		ohfrtterms = #{ohfrtterms},
		ohordtyp = #{ohordtyp},
		ohcandate = #{ohcandate},
		ohassocxact = #{ohassocxact},
		ohprt1 = #{ohprt1},
		ohprt2 = #{ohprt2},
		ohprt3 = #{ohprt3},
		ohuserid = #{ohuserid},
		ohrefdate = #{ohrefdate},
		ohshpdate = #{ohshpdate},
		ohduedate = #{ohduedate},
		ohipp = #{ohipp},
		ohilpp = #{ohilpp},
		ohpostgl = #{ohpostgl},
		ohpostar = #{ohpostar},
		oharcustomer_id = #{oharcustomerId},
		ohglar = #{ohglar},
		ohdisdate = #{ohdisdate},
		ddebit_flag = #{ddebitFlag},
		oharflg = #{oharflg},
		ohinvtype = #{ohinvtype},
		ohfulfildate = #{ohfulfildate},
		ohpayment_id = #{ohpaymentId},
		ohpostfibu = #{ohpostfibu},
		ohreason = #{ohreason},
		ohrs_id = #{ohrsId},
		ohddhflag = #{ohddhflag},
		ohddhdate = #{ohddhdate},
		ohfct = #{ohfct},
		ohlct = #{ohlct},
		ohmod = #{ohmod},
		ohxrate = #{ohxrate},
		oheccode = #{oheccode},
		ohecname = #{ohecname},
		ohglexact = #{ohglexact},
		ohdunstep = #{ohdunstep},
		ohflfct = #{ohflfct},
		ohfllct = #{ohfllct},
		co_id = #{coId},
		complaint = #{complaint},
		complaint_date = #{complaintDate},
		rtx_status = #{rtxStatus},
		ohbillseqno = #{ohbillseqno},
		ohcancelflag = #{ohcancelflag},
		convdate_exchange = #{convdateExchange},
		ohglexact_tax = #{ohglexactTax},
		glacode_diff = #{glacodeDiff},
		jobcost_id_diff = #{jobcostIdDiff},
		tax_rounding_flag = #{taxRoundingFlag},
		gl_currency = #{glCurrency},
		document_currency = #{documentCurrency},
		document_convratetype_id = #{documentConvratetypeId},
		secondary_currency = #{secondaryCurrency},
		secondary_convratetype_id = #{secondaryConvratetypeId},
		ohinvamt_gl = #{ohinvamtGl},
		ohopnamt_gl = #{ohopnamtGl},
		ohdisamt_gl = #{ohdisamtGl},
		ohdistakamt_gl = #{ohdistakamtGl},
		ohtaxamt_gl = #{ohtaxamtGl},
		taxamt_diff_gl = #{taxamtDiffGl},
		ohinvamt_doc = #{ohinvamtDoc},
		ohopnamt_doc = #{ohopnamtDoc},
		ohdisamt_doc = #{ohdisamtDoc},
		ohdistakamt_doc = #{ohdistakamtDoc},
		ohtaxamt_doc = #{ohtaxamtDoc},
		gl_convratetype_id = #{glConvratetypeId},
		fee_balance = #{feeBalance},
		fee_balance_gross = #{feeBalanceGross},
		currency = #{currency},
		ohcostcent = #{ohcostcent},
		rec_version = #{recVersion},
		ohinvamt_secdoc = #{ohinvamtSecdoc},
		taxamt_diff_secdoc = #{taxamtDiffSecdoc},
		paymentfailed = #{paymentfailed},
		billing_account_id = #{billingAccountId},
		balance_page_event_date = #{balancePageEventDate},
		prepaid_balance_change_doc = #{prepaidBalanceChangeDoc},
		prepaid_balance_change_gl = #{prepaidBalanceChangeGl},
		prepaid_glacode = #{prepaidGlacode},
		prepaid_taxamt_diff_gl = #{prepaidTaxamtDiffGl},
		prepaid_tax_diff_glacode = #{prepaidTaxDiffGlacode},
		payment_condition_id = #{paymentConditionId},
		ohdocstatus = #{ohdocstatus},
		ohextrefdate = #{ohextrefdate},
		ohextrefnum = #{ohextrefnum},
		ohcmident = #{ohcmident},
		ohremark = #{ohremark},
		ohdiscbase_doc = #{ohdiscbaseDoc},
		ohproppaycurr = #{ohproppaycurr},
		ohproppaydate = #{ohproppaydate},
		ohprocess_type = #{ohprocessType},
		ohprocess_date = #{ohprocessDate},
		business_unit_id = #{businessUnitId},
		proposed_payment_method = #{proposedPaymentMethod},
		reason_id = #{reasonId},
		incoming_doc_pricing_type = #{incomingDocPricingType},
		incoming_doc_tax_per_item = #{incomingDocTaxPerItem},
		payment_proposal_id = #{paymentProposalId} where ohxact = #{ohxact};
	</update>

</mapper>
