<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readPortMapper">			
	
	<select id="readPort">
		select * from port where port_id = #{portId};
	</select>

	<select id="storageMedium_PLMA3">         
		select * from storage_medium where port_id = #{portId};
	</select>
  
</mapper>
