<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newPrServStatusHistMapper">			
	
	<insert id="newPrServStatusHist">
		insert into pr_serv_status_hist(profile_id,co_id,sncode,histno,status,reason,transactionno,valid_from_date,entry_date,request_id,rec_version,user_reason) 
		values (#{profileId},#{coId},#{sncode},#{histno},#{status},#{reason},#{transactionno},#{validFromDate},#{entryDate},#{requestId},#{recVersion},#{userReason});
	</insert>

</mapper>
