<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writePrServSpcodeHistMapper">			
	
	<update id="writePrServSpcodeHist">
		update pr_serv_spcode_hist set profile_id = #{profileId},
		co_id = #{coId},
		sncode = #{sncode},
		histno = #{histno},
		spcode = #{spcode},
		transactionno = #{transactionno},
		valid_from_date = #{validFromDate},
		entry_date = #{entryDate},
		request_id = #{requestId},
		rec_version = #{recVersion} where profile_id = #{profileId};
	</update>

</mapper>
