<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteStorageMediumMapper">			
	
	<delete id="deleteStorageMedium">
		delete from storage_medium where sm_id = #{smId};
	</delete>

</mapper>
